{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform},
    {parse_transform, lager_transform}
]}.

{deps, [
    cowboy,
    lager,
    {sync,        {git, "https://github.com/vasu-dasari/sync.git", {branch, "master"}}},
    {pkt,         {git, "https://github.com/msantos/pkt.git", {tag, "master"}}},
    {procket,     {git, "https://github.com/msantos/procket.git", {tag, "master"}}},
    {qdate,       {git, "https://github.com/choptastic/qdate.git", {branch,"master"}}},
    {gen_netlink, {git, "https://github.com/mesosphere/gen_netlink",     {branch, "master"}}},
    {inet_ext,    {git, "https://github.com/vasu-dasari/inet_ext",{branch,"master"}}}
]}.

{relx, [
    {release, { lldp, "0.1.0" }, [
        sync,
        lager,
        sasl,
        lldp
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.
