{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps, [
    {sync,        {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {lager,       {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {pkt,         {git, "https://github.com/msantos/pkt.git", {tag, "master"}}},
    {gen_netlink, {git, "https://github.com/travelping/gen_netlink.git", {tag, "master"}}}
]}.

{relx, [
    {release, { lldp, "0.1.0" }, [
        sync,
        lager,
        sasl,
        lldp
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.
