[

    {lldp, [
        {netlink, [        %% Auto configure LLDP on interfaces
            {exclude_intfs, ["eth0"]},
            {include_intfs, ["eth"]}  %% Will be used in regular expression to match. For example, "eth" or "eth|gbe" would match eth1 or gbe10
        ]},
        {lldp_handler, none}        %% LLDP PDUs are sent and recieved via this module which supports gen_lldp behavior
    ]},

    {lager, [
        {colored, true},
        {handlers,
            [{lager_console_backend, info},
                {lager_file_backend, [{file, "log/error.log"}, {level, error},
                    {size, 10485760}, {date, "$D0"},{count, 5}]},
                {lager_file_backend, [{file, "log/console.log"}, {level, info},
                    {size, 10485760}, {date, "$D0"},{count, 5}]}
            ]}
    ]},

    {sync, [
        {src_dirs, {replace, [
            {"lldp/src", []}
        ]}}
    ]}
].
