[

    {lldp, [
        {exclude_intfs, "eth0"},    %% Turn off LLDP on these interfaces
        {use_netlink, true},        %% Auto configure LLDP on interfaces learnt via netlink
        {lldp_handler, none}        %% LLDP PDUs are sent and recieved via this module which supports gen_lldp behavior
    ]},

    {lager, [
        {colored, true},
        {handlers,
            [{lager_console_backend, info},
                {lager_file_backend, [{file, "log/error.log"}, {level, error},
                    {size, 10485760}, {date, "$D0"},{count, 5}]},
                {lager_file_backend, [{file, "log/console.log"}, {level, info},
                    {size, 10485760}, {date, "$D0"},{count, 5}]}
            ]}
    ]},

    {sync, [
        {excluded_modules, []}
    ]}
].
